body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

/* Contenedor para el campo de usuario */
#username-container {
    position: relative;
}

/* Contenedor para el campo de contraseña */
#password-container {
    position: relative;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#alert-message {
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.error {
    background-color: #FF5252;
}

.hidden {
    display: none;
}

.success {
    background-color: #4CAF50;
}

/* Pseudo-elemento ::before para el campo de usuario */
#username-container::before {
    content: "El usuario es Legna";
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: -25px;
}

/* Pseudo-elemento ::before para el campo de contraseña */
#password-container::before {
    content: "la contraseña es contraseña";
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: -25px;
}

/* Mostrar el mensaje de ayuda cuando el campo está enfocado */
#username-container:focus-within::before,
#password-container:focus-within::before {
    display: inline-block;
}
